body{
    background-image: url("whitehouses.png")
}
#hotline{
    position: absolute; 
    bottom: 80vh; 
    width:10vw; 
    height:15vh; 
    left: 10vh;
}

#buttercup{
    position: absolute; 
    bottom: 10vh; 
    height: 20vh;
    left: 0vw;
}
#blossom{
    position: absolute; 
    bottom: 35vh;
    height: 20vh;
    left: 0vw;
}
.racer {
    transition: left .5s;
}
