body {
    background-image: url("whitehouses.png");
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

img {
    height: 140px;
    width: 100px;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: blanchedalmond;
}


#pig {
    position: absolute;
    top: 650px;
    left: 0px;
}

#cow {
    position: absolute;
    top: 350px;
    left: 0px;
}

#start {
    right: 50%;
}
